{
    "port": "1337",
    "mongodb": {
        "uri": "mongodb://localhost/got-sentiment"
    },
    "api": {
        "host": "got-api.bruck.me",
        "prefix": "/api/"
    },
    "twitter": {
        "access_token_key": "",
        "access_token_secret": "",
        "consumer_key": "",
        "consumer_secret": ""
    }
}
