<script src="/js/d3.min.js"></script>
<script>
var dataURL = "/donald-trump.csv";

// set size and margin
var margin = {top: 20, right: 20, bottom: 50, left: 50},
    width  = 720 - margin.left - margin.right,
    height = 480 - margin.top  - margin.bottom;

// define axis
var x = d3.time.scale().range([0, width]),
    y = d3.scale.linear().range([height, 0]);
var xAxis = d3.svg.axis().scale(x).orient("bottom"),
    yAxis = d3.svg.axis().scale(y).orient("left");

// format areas
// positive area between x-axis at y=0 and max(y)
var areaPos = d3.svg.area().x(function(d) {
    return x(d.date);
}).y0(function(d) {
    return y(0);
}).y1(function(d) {
    return y(d.pos);
});
// negative area between x-axis at y=0 and min(y)
var areaNeg = d3.svg.area().x(function(d) {
    return x(d.date);
}).y0(function(d) {
    return y(d.neg);
}).y1(function(d) {
    return y(0);
});

// init svg
var svg = d3.select("body").append("svg")
    .attr("width",  width  + margin.left + margin.right)
    .attr("height", height + margin.top  + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// function to parse string in the format 2006-01-02 to JavaScript's Date type
var parseDate = d3.time.format("%Y-%m-%d").parse;

// request csv data and fill chart
d3.csv(dataURL, function(d) {
    // convert string data from CSV
    return {
        date: parseDate(d.date), // parse date column to Date
        pos:  +d.pos,            // convert pos column to positive number
        neg:  -d.neg             // convert neg column to negative number
    };
}, function(error, data) {
    // TODO: better error handling
    if (!!error) {
        var up = error;
        throw up;
    }

    // set domains (data)
    x.domain(d3.extent(data, function(d) {
        return d.date;
    }));
    // y from min(neg) to max(pos)
    y.domain([d3.min(data, function(d) {
        return d.neg;
    }), d3.max(data, function(d) {
        return d.pos;
    })]);

    // add areas
    svg.append("path").datum(data).attr("class", "area pos").attr("d", areaPos);
    svg.append("path").datum(data).attr("class", "area neg").attr("d", areaNeg);

    // add x- and y-axis
    svg.append("g").attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")").call(xAxis);
    svg.append("g").attr("class", "y axis").call(yAxis)
});

</script>
