{
    "port": 1337,
    "gotsent": {
        "mongodb": {
            "uri": "mongodb://localhost/gotsentimental"
        },
        "api": {
            "https": true,
            "host": "got-api.bruck.me",
            "prefix": "/api/"
        },
        "twitter": {
            "access_token": "",
            "access_token_secret": "",
            "consumer_key": "",
            "consumer_secret": ""
        }
    }
}
